
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.container {
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: coral;
    height: 50vh;
}


div.container div.ball{
    margin:10px;
width:100px;
height:100px;
background-color: blueviolet;
transition-duration: 0.3s;
transition-timing-function: cubic-bezier(0.59, 0.17, 0.36, 0.71);

}
/* div.container div.ball if given lik tis means without hover ani works */
div.container:hover div.ball{
    animation-duration: 2s;
    animation-name: stylish-rotate;
    animation-fill-mode: forwards;
    animation-iteration-count:2 ;
    animation-delay: 1s;
    /* animation:stylish-rotate 2s ease infinite; shorthand for animation */
    /* animation-iteration-count:infinite; never stops */
    /* transform:rotatez(60deg); */
    /* transform:scale(2); */
    /* transform:translateX(400px); */
    /* background-color: cadetblue; */
    /* Transform will work even without dur and tim fun */
    /* cursor:pointer; */
    /* border-radius: 50%; */
}

@keyframes stylish-rotate{
    /* 0%{
       background-color: darkorange;
    }25%{
        background-color: darkgrey;
    }
    50%{
        background-color:aqua;
    }
    100%{
        background-color: crimson;
        transform: rotateZ(120deg);
        
    } */
   
        0% {
            background-color: violet;
        }
        14% {
            background-color: indigo;
        }
        28% {
            background-color: blue;
        }
        42% {
            background-color: green;
        }
        56% {
            background-color: yellow;
        }
        70% {
            background-color: orange;
        }
        84% {
            background-color: red;
        }
        100% {
            background-color: white;
            transform: rotateZ(120deg);
            border-radius: 30px;
        }
    }
    
